/* App.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.app-container.fade-out {
  opacity: 0;
}

.app-container.fade-in {
  opacity: 1;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;
}

@media (min-aspect-ratio: 16/9){
  back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  back-video{
    width: auto;
    height: 100%;
  }
}

.back-overlay{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.2;
}

@media (min-aspect-ratio: 16/9){
  back-overlay{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  back-overlay{
    width: auto;
    height: 100%;
  }
}

